<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Flex' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Đăng ký tài khoản</title>
</head>
<body>
    <div class="container">
        <h1 class="text-banner">Đăng ký tài khoản</h1>
        <div class="bgr-login">
            <div class="bgr-login1">
                <!-- left background  -->
                <div class="bgr-image">
                        <!-- image in css -->
                </div>
                <!-- right background form login -->
                <div class="bgr-form">
                    <form action="" method="POST">
                        <p class="text-login padding-text">Đăng ký</p>
                        <div class="group1">
                            <p class="text-not-acc padding-text">Bạn đã có tài khoản</p>
                            <a class="cre-acc" href="login.html">Đăng nhập</a>
                        </div>
                        
                        <p class="text-fullname padding-text">Họ và tên</p>
                        <input class="form-input" type="text" name="fullname" id="fullname" placeholder="Nguyễn Văn A">

                        <p class="text-phone padding-text">Số điện thoại</p>
                        <input class="form-input" type="text" name="phone" id="phone" placeholder="+84 985 225 190">
                        
                        <p class="text-pwd padding-text">Mật khẩu</p>
                        <input class="form-input" type="password" name="password" id="password" placeholder="********">
                        
                        <p class="text-pwd padding-text">Xác nhận mật khẩu</p>
                        <input class="form-input" type="password" name="confirm-pwd" id="confirm-pwd" placeholder="********">

                        <input class="btn-reg" type="submit" value="Đăng ký">
                        
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <div class="text-foooter">
                <p>Terms and conditions  -  privacy  -  @Create: Team</p>
                <h3>FOOD RESTAURANT</h3>
            </div>
        </footer>
    </div>
</body>
</html>