.mb20{
    margin-bottom: 20px;
}
.mb5{
    margin-bottom: 5px;
}
.ml10{
    margin-left: 10px;
}
.mt50{
    margin: 60px 0px;   
}
.mr10{
    margin-right: 10px;
}
.mt10{
    margin-top: 10px;
}

.mt40{
    margin-top: 40px;
}
.mr10pt{
    margin-right: 10%;
}

.pd20{
    padding:20px;
}
.mr16{
    margin-right: 25px;
}

.pt50{padding-top: 50px;}
.mt20{
    margin-top: 20px;
}
.nau{
    background-color:rgb(109, 67, 13);

}